<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GpsSimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GpsSimulator.Properties.Settings>
            <setting name="Hostname" serializeAs="String">
                <value>104.131.94.246</value>
            </setting>
            <setting name="Portnumber" serializeAs="String">
                <value>8841</value>
            </setting>
            <setting name="IMEI" serializeAs="String">
                <value>351608082123956</value>
            </setting>
        </GpsSimulator.Properties.Settings>
    </userSettings>
</configuration>